<html>
    <head>
        <title>yoga europa blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">yoga europa blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">How to Empower Your Yoga Students Part I</a></h2>
            <p>What does it really mean to “empower” our students? And as teachers, how do we go about it? In recent years the word itself has become so overused and misunderstood that its meaning has been lost. This is frightening to me because the word is tied to the core of who we are—and to our humanity. According to Judi Chamberlin’s research, an individuals ability to feel empowered boils down to these critical components: power, resources, community, information, options, assertiveness, authenticity, critical thinking, feeling and expressing emotions (especially anger), self-growth, and self-esteem.¹</p>
            <p>So, why is this so important in the yoga community? As our students find their way into our classes, a huge power differential is already a part of the equation. They’ve been indoctrinated to believe that the teacher knows best. They’ve been encouraged to not ask questions or express opinions that may run counter to what’s being presented. They’re disconnected from their bodies and their egos sustain this disconnection. They’re afraid to be different. They don’t know how to tap into what their needs really are and if they do, they feel uncomfortable asking for them to be met. And as teachers, we can’t begin to meet their needs if we don’t know them.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">How to Empower Your Yoga Students Part II</a></h2>
            <p>I’ve had many teachers in my teacher trainings and workshops complain that instructors have hurt them or not heard them in classes. I always listen to their stories and to date, my response is always, “You’re not taking your power.” A teacher can’t force you to do something or not do something in the yoga classroom. You always have the option to say no, to tell them that they hurt you, to walk out during class or to never come back.And you can do all of those things and still be kind and respectful.</p> 
            <p>The problem is that most students are not going to volunteer information about injuries or challenges, unless they are asked directly. They’re not going to ask for modifications. They’re not going to drop down and rest. They’re not going to tell you they’re feeling the pose too much or not feeling it at all. They’re not going to tell you that adjustment hurt them. Yet, oddly, they will come back to your class.</p>
            <p>The critical point of this story is that if we as teachers don’t feel comfortable taking responsibility for our own bodies in other teachers’ classes— how are we going to model this in our own yoga classrooms? This is our biggest challenge in the yoga classroom.</p>
            <p>Empowerment is a collaborative art form—forever transforming—so, I’m constantly refining my methods. Below are several that have and continue to aid me in my quest to encourage students to take back their power!</p>
        </div>
    </body>
</html>